enable-pre-post-scripts=true
access=public
publish-branch=main
hoist=true
hoist-workspace-packages=true
lockfile=true
prefer-fronzen-lockfile=true
git-branch-lockfile=false
merge-git-branch-lockfiles-branch-pattern[]=main
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
include-workspace-root=true